<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Achievements</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="logo" onclick="window.location.href = '/'">
            Staff Achievements
          </div>
          <div class="nav-buttons">
            <button id="createAccountBtn" class="btn">Create Account</button>
          </div>
        </nav>
      </div>
    </header>
    <main class="container"><%- body %></main>
  </body>
</html>
